<footer class="navbar navbar-default navbar-static-bottom m-0 p-0">
  <div class="footer row d-none d-md-block">
    <div class="col-12">
      <img
        src="/assets/images/logo-dp-mono-stacked.svg"
        class="logo_dp float-right"
      />
      <p class="acknowledgement">{{ footer_text }}</p>
    </div>

    <div class="col-12">
      <div class="row social-media float-right">
        <div *ngFor="let item of social_media" class="social-media-item">
          <span>{{ item }}</span>
        </div>
      </div>
      <p class="copyright">{{ copyright_text }}</p>
    </div>
  </div>

  <div class="sm-footer col d-block d-sm-block d-md-none">
    <div class="">
      <img src="/assets/images/logo-dp-mono-stacked.svg" class="sm-logo_dp" />
    </div>
    <div class="">
      <p class="sm-acknowledgement">{{ footer_text }}</p>
    </div>

    <div class="col-12">
      <div class="row sm-social-media d-flex justify-content-between">
        <div *ngFor="let item of social_media" class="sm-social-media-item">
          <span>{{ item }}</span>
        </div>
      </div>
    </div>

    <div class="">
      <p class="sm-copyright">{{ copyright_text }}</p>
    </div>
  </div>
</footer>
