@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../scss/variables";

.acknowledgement {
    width: 436px;
    height: 66px;
    margin: 0 260px 92px 0;
}

.sm-acknowledgement {
    margin: 0 0 32px 0;
}

.social-media {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #ffffff;
}

.sm-social-media {
    @extend .social-media;
}

.social-media-item {
    margin-left: 32px;
    margin-right: 16px;

}

.sm-social-media-item {
    @extend .social-media-item;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
}

.footer {
    height: 252px;
    margin: 80px 0 0;
    padding: 40px 32px 32px;
    box-shadow: 0 -1px 0 0 #eaebef;
    background-color: $dark-blue-grey;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #ffffff;
    width:100%;

  }

  .sm-footer {
      @extend .footer;
      height: 390px;
      margin: 60px 0 0;
      padding: 40px 16px 32px;
  }

  .logo_dp {
    width: 216px;
    height: 67px;
    object-fit: contain;
  }

  .sm-logo_dp {
    @extend .logo_dp;
    margin-bottom: 32px;
  }
