<!-- Desktop -->
<div class="container d-none d-md-block">
    <div class="content-pane">
        <app-nav-return-home></app-nav-return-home>
        <div class="col m-0">
            <div>
                <h2>How can we better our world?</h2>
            </div>

            <form [formGroup]="submitIdeaForm" class="search-form">
                <div class="row m-0">
                    <div class="col-7 left">
                        <div>
                            <div class="form-group">
                                <label for="title">Title of idea*</label>
                                <input required type="text" formControlName="title" name="title" id="title"
                                    class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="publisher">Your name</label>
                                <input type="text" formControlName="publisher" name="publisher" id="publisher"
                                    class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="goal">Sustainable Development Goal</label>
                                <select formControlName="goal" class="form-control">
                                    <option disabled selected hidden value="">Select one</option>
                                    <option *ngFor="let goal of goals" [value]="goal.key">{{goal.label}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="goal">What is your idea?*</label>
                                <textarea required maxLength="1000" rows="6" cols="100" formControlName="description" name="description" id="description"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-5 right">
                        <div class="form-group">
                            <label for="goal">Add image to support your idea</label>
                            <input type="text" formControlName="thumbnailUrl" name="thumbnailUrl" id="thumbnailUrl"
                                class="form-control" />
                        </div>
                        <div class="border rounded thumbnail float-right"><img class="rounded thumbnail" [src]="thumbnail()" /></div>
                        <div class="float-right">
                            <button [disabled]="disableSubmit"type="button" class="btn btn-rectangle" (click)="submit()">Submit Comment</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<!-- Mobile -->
<!-- TODO: Just a copy of desktop at the moment -->
<div class="container d-block d-sm-block d-md-none">
    <div class="content-pane">
        <app-nav-return-home></app-nav-return-home>
        <div class="col m-0">
            <div>
                <h2>How can we better our world?</h2>
            </div>

            <form [formGroup]="submitIdeaForm" class="search-form">
                <div class="row m-0">
                    <div class="col left">
                        <div>
                            <div class="form-group">
                                <label for="title">Title of idea*</label>
                                <input required type="text" formControlName="title" name="title" id="title"
                                    class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="publisher">Your name</label>
                                <input type="text" formControlName="publisher" name="publisher" id="publisher"
                                    class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="goal">Sustainable Development Goal</label>
                                <select formControlName="goal" class="form-control">
                                    <option disabled selected hidden value="">Select one</option>
                                    <option *ngFor="let goal of goals" [value]="goal.key">{{goal.label}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="goal">What is your idea?*</label>
                                <textarea required maxLength="1000" rows="6" cols="100" formControlName="description" name="description" id="description"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col right">
                        <div class="form-group">
                            <label for="goal">Add image to support your idea</label>
                            <input type="text" formControlName="thumbnailUrl" name="thumbnailUrl" id="thumbnailUrl"
                                class="form-control" />
                        </div>
                        <div class="border rounded thumbnail"><img class="rounded thumbnail" [src]="thumbnail()" /></div>
                        <div>
                            <button [disabled]="disableSubmit"type="button" class="btn btn-rectangle" (click)="submit()">Submit Comment</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>