@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../scss/variables";

.container {
  padding: 2rem 1rem;
  max-width: 1400px;
}

.content-pane {
  margin-left: 62px;
}

label {
    height: 18px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: $inactive;
}

.btn-rectangle {
    width: 193px;
    height: 48px;
    margin-top: 127px;
    margin-left: 127px;
    border-radius: 8px;
    background-color: $sky;
  }

  button {
    width: 193px;
    height: 25px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }

  form .thumbnail {
    min-width: 320px;
    max-width: 100%;
    max-height: 225px;
    min-height: 225px;
  }

  #thumbnail {
    max-width: 320px;
    max-height: 225px;
  }

  form .right {
  }


  