<div class="container d-none d-md-block">
  <div class="content-pane">
    <app-nav-return-home></app-nav-return-home>


    <div class="row m-0">

      <div class="content col-8">
        <img class="image-mockup" [src]="idea.thumbnailUrl" />
        <!-- <img class="img-fluid" [src]="idea.thumbnailUrl" /> -->
        <div class="idea-title">{{idea.title}}</div>
        <div class="idea-goal">Category of {{goal(idea.goal)}}</div>
        <div class="idea-text">{{idea.description}}</div>
      </div>
      <div class="sidebar col-4">
        <div class="contents">
          <div class="publisher">
            <!-- Name of publisher here -->
            {{idea.publisher || 'Name of publisher here'}}
          </div>
          <div class="published-date">Published
            <!-- December 12th 2020  -->
            {{published() || 'December 12th 2020'}}
          </div>
          <idea-view-call-to-action></idea-view-call-to-action>
          <!-- <div class="call-to-action">


    </div> -->
        </div>
      </div>
    </div>
  </div>




</div>


<div class="sm-container d-block d-sm-block d-md-none">
  <div class="sm-content ">
    

    <img class="sm-image-mockup" [src]="idea.thumbnailUrl" />
    
    <div class="col m-0">
      <app-nav-return-home></app-nav-return-home>
      <div class="publisher">
        {{idea.publisher || 'Name of publisher here'}}
      </div>
      <div class="published-date">Published
        {{published() || 'December 12th 2020'}}
      </div>


      <div class="content">

        <!-- <img class="img-fluid" [src]="idea.thumbnailUrl" /> -->
        <div class="idea-title">{{idea.title}}</div>
        <div class="idea-goal">Category of {{goal(idea.goal)}}</div>
        <div class="idea-text">{{idea.description}}</div>
        <idea-view-call-to-action></idea-view-call-to-action>
      </div>
    </div>
  </div>
</div>
<!-- <div>todo: show idea details {{ idea | json }}</div> -->