@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../../scss/variables";

.image-mockup {
    width: 512px;
    padding: 0 0 0 0;
  }
  
  .sm-image-mockup {
    width: 100vw;
    padding: 0 0 0 0;
  }

  .idea-title {
    max-width: 512px;
    margin: 31.5px 0 0 0;
    font-family: Lato;
    font-size: 28px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: $dark-blue-grey;
  }

  .idea-goal {
    max-width: 512px;
    margin: 16px 0 0 0;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $dark-blue-grey;
  }

  .idea-text {
    max-width: 512px;
    margin: 32px 0 0 0;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $dark-blue-grey;
  }
  
  .sidebar .contents {
    margin: 0 0 0 64px;
  }

  .container {
    padding: 2rem 1rem;
    max-width: 1400px;
  }

  .content {
    max-width: 544px;
    padding: 0;
  }

  .publisher {
    width: 212px;
    height: 22px;
    margin: 24px 140px 8px 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: $dark-blue-grey;
  }

  .published-date {
    width: 212px;
    height: 16px;
    margin: 8px 140px 32px 0;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: $dark-blue-grey;
  }

  .content-pane {
    margin-left: 62px;
  }