@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../scss/variables";

button {
  max-width: 200px;
  width:100%;
  height: 48px;
  margin: 40px auto ;
  padding: 11px 0 12px;
  border-radius: 8px;
  background-color: $azure;
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.title {
    max-width: 512px;
    width:100%;
    min-height: 36px;
    margin: 212px auto 24px;
    font-family: Lato;
    font-size: 28px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: dark-blue-grey;
}

.text {
    max-width: 512px;
    width: 100%;
    min-height: 66px;
    margin: 24px auto;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: $dark-blue-grey;
}