<div class="container">
  <div class="content text-center">
    <h2 class="title">Thank you for sharing your idea with us!</h2>
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ultrices neque ornare
      aenean euismod elementum.
    </div>
    <button type="button" class="btn" routerLink="/">Back to Home</button>
  </div>
</div>
