@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../scss/variables";

.mask {
  background-color: $ice-blue;
  overflow: hidden;
}

.lg-mask {
  @extend .mask;
  min-height: 264px;
  padding: 32px;
  background-image: url('/assets/images/call-to-action-foreground.png'), url('/assets/images/call-to-action-background.png');
  background-position: right bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
}

.sm-mask {
  @extend .mask;
  min-height: 270px;
  background-image: url('/assets/images/call-to-action-background.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.action-title {
  min-height: 36px;
  font-family: Lato;
  font-size: 28px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: $dark-blue-grey;
}

.lg-action-title {
  @extend .action-title;
  min-width: 417px;
  min-height: 36px;
  margin: 32px 31px 12px 0;
}

.sm-action-title {
  @extend .action-title;
  min-width: 295px;
  min-height: 36px;
  margin: 32px 40px 16px;
  text-align: center;
}

.call-to-action-text {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: $dark-blue-grey;
}

.lg-call-to-action-text {
  @extend .call-to-action-text;
  max-width: 448px;
  min-height: 44px;
  margin: 12px 0 24px;
}

.sm-call-to-action-text {
  @extend .call-to-action-text;
  max-width: 317px;
  min-height: 66px;
  text-align: center;
}

.btn-rectangle {
  min-width: 216px;
  min-height: 48px;
  padding: 12px 0 11px;
  border-radius: 8px;
  background-color: $dark-blue-grey;
}

.lg-btn-rectangle {
  @extend .btn-rectangle;
}

.sm-btn-rectangle {
  @extend .btn-rectangle;
  margin: 32px 79px 40px 80px;

}

.call-to-action button {
  width: 216px;
  height: 25px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
