@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../scss/variables";

.chevron-left {
    width: 24px;
    height: 24px;
    margin: 0 0 0 -8px;
    object-fit: contain;
  }

.nav {
  margin: 31.5px 64px 25.5px 0;
  font-family: Lato;
  font-size: 28px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: $dark-blue-grey;
}

.nav a {
  text-decoration: none;
  max-width: 158px;
  height: 22px;
  margin: 1px 0 1px 7px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: $azure;
}
