@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../../../scss/variables";

.mask {
    width: 256px;
    height: 347px;
    margin: 32px 96px 56px 0;
    border-radius: 8px;
    background-color: $butterscotch;
}


.lg-mask {
  @extend .mask;
  width: 256px;
  height: 347px;
  margin: 32px 96px 56px 0;
  padding: 24px 0 0 24px;
  border-radius: 8px;
  background-color: $butterscotch;
  background-image: url("/assets/images/call-to-action-sidebar.svg");
  background-position: bottom -154px right -174px;
  background-repeat: no-repeat;
}

.sm-mask {
  @extend .mask;
  min-width: 343px;
  margin: 60px 0 0 0;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  min-height: 270px;
  background-image: url('/assets/images/call-to-action-sidebar.svg');
  background-repeat: no-repeat;
  background-position: bottom -154px right -174px;
}

.action-title {
    width: 208px;
    height: 84px;
    margin: 0 24px 24px 0;
    font-family: Lato;
    font-size: 22px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: $dark-blue-grey;
}

.lg-action-title {
  @extend .action-title;
}

.sm-action-title {
  @extend .action-title;
  text-align: left;
  width: 100%;
  min-height: 36px;
  margin: auto auto auto auto;
  font-family: Lato;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: $dark-blue-grey;
}

.call-to-action-text {
    width: 208px;
    height: 88px;
    margin: 24px 24px 40px 0;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $dark-blue-grey;
}

.lg-call-to-action-text {
  @extend .call-to-action-text;
}

.sm-call-to-action-text {
  @extend .call-to-action-text;
  width: 100%;
  min-height: 66px;
  margin: auto auto auto auto;
  text-align: left;
}

.btn-rectangle {
  min-width: 216px;
  
  min-height: 48px;
  padding: 12px 0 11px;
  border-radius: 8px;
  background-color: $dark-blue-grey;
}

.lg-btn-rectangle {
  @extend .btn-rectangle;
}

.sm-btn-rectangle {
  @extend .btn-rectangle;
  margin-top: 32px;

}

.lg-mask button {
  width: 216px;
  height: 25px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.sm-mask button {
  width: 100%;
  height: 25px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}