<div class="call-to-action lg-mask d-none d-md-block text-left">
    <div class="lg-action-title">{{title}}</div>
    <div class="lg-call-to-action-text">{{text}}</div>
    <button type="button" class="btn lg-btn-rectangle" routerLink="/submit">{{button_text}}</button>
</div>

<div class="call-to-action sm-mask d-block d-sm-block d-md-none text-center">
    <div class="sm-action-title">{{title}}</div>
    <div class="sm-call-to-action-text">{{text}}</div>
    <button type="button" class="btn sm-btn-rectangle" routerLink="/submit">{{button_text}}</button>
</div>